<html>
<head>
	<title>AngularJS TicTacToe</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div x-ng-app="" x-ng-controller="mainCtrl" x-ng-init="">

		<div class="gameBoard">
			<div class="clear" x-ng-repeat="row in board track by $index">
				<div class="cell" id="cell{{$parent.$index}}{{$index}}" x-ng-repeat="cell in row track by $index" x-ng-click="clicked($parent.$index, $index);">{{board[$parent.$index][$index]}}</div>
			</div>
		</div>
		<label>{{winner}}{{moves}}</label>
	</div>
</body>
</html>

<!-- ((xturn.val = !xturn.val) ? 'X' : 'O') -->